.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title_muj-den {
  text-align: center;
  font-size: 7vw;
  text-shadow: 3px 3px 3px #d860e6;
}

.text {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 2%;
}


@media (max-width: 826px) {
  .text {
    display: none;
  }
}

;
