body {
  background-image: url("/img/Můj\ den\ \(4\).gif");
  background-size: cover;
  min-height: 100vh;
  color: #4B0082;
}

.container {
  padding: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.muj-den {
  text-align: center;
  font-size: 48px;
}

.text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 30px;
}

.dino-mino {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.dino {
  width: 25rem;
}

.paws {
  display: flex;
  gap: 150px;
  text-align: center;
}

.paws img {
  width: 13rem;
}
