html {
  background-color: antiquewhite;
  display: flex;
  align-content: space-around;
  justify-content: center;
}

body {
  margin: auto;
  background-image: url("./../../../public/img/mujDen5.gif");
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #4B0082;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Russo One', sans-serif;
}

#app {
  width: 100%;
}

.container {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90%;
  justify-content: center;
  align-items: center;
  flex: 0 1;
}

@media (min-width: 1200px) {
  body {
    max-width: 80vh;
  }
}
