body {
  background-image: url("./../../../public/img/mujDen5.gif");
  background-size: cover;
  min-height: 100vh;
  color: #4B0082;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Russo One', sans-serif;
}

.container {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  flex: 0 1;
}
